/**
 * This stylesheet is to hold each of the core layout
 * containers. There is a base layout class which
 * is then modified for the other main layout containers

	<div class="layout layout--article">...</div>
	<div class="layout layout--publications">...</div>

 */

/*
	=> layout
--------------------------------------------------*/
.layout {
	clearfix;
}
