@import 'nib'
@import 'bootstrap/styl/variables'

/*
	=> mixins and setup
--------------------------------------------------*/
@import 'variables'
@import 'mixins/containers'
@import 'mixins/typography'
@import 'mixins/lists'

/*
	=> Global setup
--------------------------------------------------*/
@import 'normalize'
@import 'baseline'
@import 'brand'
@import 'structure'

/*
    => bootstrap imports
--------------------------------------------------*/
@import 'bootstrap/styl/mixins'
@import 'bootstrap/styl/buttons'
@import 'bootstrap/styl/forms'

/*
	=> components / blocks
--------------------------------------------------*/
@import 'components/skipnav'
@import 'components/layouts/layout'
