/**
 * Structure
 * ---------
 * This style sheet contains core structural layout
 *
 * This shouldn't contain reusable modules or components but would generally
 * set out the chrome of the page using ids
 *
 * This would often contain the primary and secondary navigation
 * styles but if they are not specified here they should be within lists.css
 *
 * This file should be ordered as elements appear on the page including
 * indentation.
 *
*/