
/*
	=> Typography
--------------------------------------------------*/
$font-size--base = 13
$baseline = 8
$font-family--base = "Helvetica Neue", Helvetica, Arial, sans-serif

/*
	=> colors
--------------------------------------------------*/
$color--base = #444
$color--accent = #00f


/*
    => bootstrap settings
--------------------------------------------------*/
$linkColor =             $color--accent
$linkColorHover =        darken($linkColor, 15%)

$baseFontSize   = ($font-size--base)px
$baseFontFamily = $font-family--base
$baseLineHeight = ($baseline*2)px;
$textColor      = $color-base
